<html>
    <head>
        <title>stream-notify</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/animate.css">
        <script src="scripts/jquery-3.2.1.min.js"></script>
        <script src="scripts/socket.io.js"></script>
        <script src="scripts/view.js"></script>
    </head>
    <body>
        <div id="host-notify" class="container">
            <p class="subscriber-text small"><%= user %> hosted you for <span id="hosted-viewers-amount"><%= viewers %></span> viewers</p>
        </div>
        
        <script>
            hosted();
        </script>
    </body>
</html>