<html>
    <head>
        <title>stream-notify</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/animate.css">
        <script src="scripts/jquery-3.2.1.min.js"></script>
        <script src="scripts/jquery.color-2.1.2.min.js"></script>
        <script src="scripts/socket.io.js"></script>
        <script src="scripts/view.js"></script>
    </head>
    <body>
        <div id="subscribe" class="container">
            <div class="notif-title flash">❤ New Subscriber!</div>
            <div class="notif-main"></div>
        </div>

        <div id="resub" class="container">
            <div class="notif-title flash">❤ Resub!</div>
            <div class="notif-main"></div>
            <div class="notif-footer"></div>
        </div>

        <div id="hosted" class="container">
            <div class="notif-plain"><b id="username">SemenDemon</b> is hosting for <b id="viewers">5</b> viewers!</div>
        </div>

        <div id="timer" class="container">
            <div class="notif-plain"><b id="time"></b></div>
        </div>
    </body>
</html>